.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  max-width: 540px;
  padding: 48px;
  padding-bottom: 72px;
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h4 {
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 4.09px;
  }

  .quote-text {
    margin-top: 32px;
    text-align: center;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: -0.3px;
  }

  .rule {
    width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: center;

    hr {
      width: 100%;
      height: 1px;
      background: none;
      border: 1px solid var(--grayish-blue);
      border-top: none;

      &:first-child {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-left: 0.5rem;
      }
    }

    .quote-mark {
      width: 13px;
      height: 16px;
      margin: 0 4px;
      background-color: var(--light-cyan);
      border-radius: 3px;
    }
  }

  .btn {
    width: 64px;
    height: 64px;
    background-color: var(--neon-green);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -32px;
    transition: 0.4s;

    img {
      color: red;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 40px var(--neon-green);
    }
  }
}
